<div *ngIf="records" class="w-screen flex items-center justify-center flex-col">
  <h2 class="text-2xl font-bold">Travel Memories</h2>
  <form (ngSubmit)="addRecord()" class="mt-4 w-full max-w-xl">
    <div class="flex flex-col">
      <label
        for="place"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Place</label
      >
      <input
        [(ngModel)]="newRecord.place"
        name="place"
        id="place"
        placeholder="Place"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div class="flex flex-col">
      <label
        for="startDate"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Start Date:</label
      >
      <input
        [(ngModel)]="newRecord.startDate"
        name="startDate"
        id="startDate"
        placeholder="startDate"
        type="date"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div>
      <label
        for="endDate"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >End Date:</label
      >
      <input
        [(ngModel)]="newRecord.endDate"
        name="endDate"
        id="endDate"
        type="date"
        placeholder="End Date"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div>
      <label
        for="imageUrl"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Image Url:</label
      >
      <input
        [(ngModel)]="newRecord.imageUrl"
        name="imageUrl"
        id="imageUrl"
        placeholder="Image Url"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div>
      <label
        for="notes"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Notes:</label
      >
      <textarea
        [(ngModel)]="newRecord.notes"
        name="notes"
        id="notes"
        cols="4"
        placeholder="notes"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Add Record
    </button>
  </form>

  <ul
    class="mt-8 w-full max-w-xl border border-gray-300 divide-y divide-gray-300 rounded-md shadow-md bg-white"
  >
    <li
      *ngFor="let record of records"
      class="flex flex-col items-start justify-between p-4 hover:bg-gray-50 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col gap-2 text-sm font-bold text-gray-700">
        <ng-container *ngIf="selectedRecord === record">
          <label class="text-xs font-semibold text-gray-600">Place:</label>
          <input
            [(ngModel)]="record.place"
            name="place"
            id="place"
            placeholder="place"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600">Start Date:</label>
          <input
            [(ngModel)]="record.startDate"
            name="startDate"
            id="startDate"
            placeholder="Start Date"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600">End Date:</label>
          <input
            [(ngModel)]="record.endDate"
            name="endDate"
            id="endDate"
            placeholder="endDate"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600"
            >Image Url:</label
          >
          <input
            [(ngModel)]="record.imageUrl"
            name="imageUrl"
            id="imageUrl"
            placeholder="Image Url"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600"
            >Notes:</label
          >
          <textarea
            [(ngModel)]="record.notes"
            name="notes"
            id="notes"
            placeholder="Notes"
            required
            cols="4"
            class="text-sm font-bold text-gray-900"
          ></textarea>
          <div
            class="flex flex-row items-center justify-center space-x-4 md:space-x-6 mt-4"
          >
            <button
              (click)="selectedRecord = null"
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              cancel
            </button>
            <button
              (click)="updateRecord(record)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Update
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedRecord !== record">
          <img src="{{ record.imageUrl }}" alt="travel Image" width="100%">
          <label class="text-xs font-semibold text-gray-600">Place:</label>
          <span class="text-sm font-bold text-gray-900">{{ record.place }}</span>
          <label class="text-xs font-semibold text-gray-600">Start Date:</label>
          <span class="text-sm font-bold text-gray-900">{{ record.startDate }}</span>
          <label class="text-xs font-semibold text-gray-600">End Date:</label>
          <span class="text-sm font-bold text-gray-900">{{ record.endDate }}</span>
          <label class="text-xs font-semibold text-gray-600">Notes:</label>
          <span class="text-sm font-bold text-gray-900">{{ record.notes }}</span>
          <div
            class="flex flex-row items-center justify-center space-x-4 md:space-x-6 mt-4"
          >
            <button
              (click)="selectedRecord = record"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Update
            </button>
            <button
              (click)="deleteRecord(record._id!)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Delete
            </button>
          </div>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
